body{
font-family:Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
margin-top:50px;
transition:0.3s;
}

.dark{
background:#1e1e1e;
color:white;
}

.container{
background:white;
padding:20px;
width:420px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.dark .container{
background:#2c2c2c;
}

.input-section{
display:flex;
gap:5px;
margin-bottom:10px;
}

input,select{
padding:6px;
}

button{
padding:6px 10px;
background:#28a745;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#218838;
}

li{
background:#eee;
margin:8px 0;
padding:8px;
display:flex;
justify-content:space-between;
align-items:center;
border-radius:5px;
}

.completed{
text-decoration:line-through;
color:gray;
}

.priority-high{
border-left:5px solid red;
}

.priority-medium{
border-left:5px solid orange;
}

.priority-low{
border-left:5px solid green;
}

.delete{
color:red;
cursor:pointer;
}

.progress{
height:10px;
background:#ddd;
border-radius:10px;
margin:10px 0;
}

#progressBar{
height:10px;
background:#28a745;
width:0%;
border-radius:10px;
}

.clear-btn{
width:100%;
background:#dc3545;
margin-top:10px;
}

.dark-btn{
margin-bottom:10px;
}
